<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

				<!-- Register Bean Definitions -->
	<bean id="registerUserBo" class="com.fuseIn.Impl.RegistrationServiceImpl">
		<property name="registerUserDao" ref="registerUserDao"></property>
	</bean>

	<bean id="registerUserDao" class="com.fuseIn.daoImpl.RegistrationDaoImpl">
	</bean>

				<!-- Login Bean Definitions -->
	<bean id="loginUserBo" class="com.fuseIn.Impl.LoginServiceImpl">
		<property name="loginUserDao" ref="loginUserDao"></property>
	</bean>
	
	<bean id="loginUserDao" class="com.fuseIn.daoImpl.LoginDaoImpl"/>
</beans>

